doctype html
html
    head
        //-const title = '익스프레스'    /* @Note: '-' 뒤에 변수 작성가능 */

        title= title + '' + title2 /*변수 합치기*/
        link(rel='stylesheet', href='/stylesheets/style.css')
        h1= title +" "+ title2
        style.
            p{
                color: red;
            }
    body
        div(id= 'oowl' width= 500)
        // div#oowl div는 생략도 가능

        span(class='express nodejs')
            // span.express.nodejs
        button(type='submit') 안녕
        p
         | 안녕하세요
         | 여러 줄을 입력하니다.
         br
         | 태그를 중간에 넣어도 됩니다.
         |
        script.
            // script. 을 찍으면 밑에 코드는 스크립트
            var message = 'pug'
            alert(message)
