extends layout

block content
    div F12를 눌러 console 탭과 network 탭을 확인하세요.
    script(src='/socket.io/socket.io.js')
    script.


        var socket = io.connect('http://localhost:9876',{
            path:'/socket.io'
        });

        socket.on('fromServer',function(data){
            console.log(data);
            socket.emit('fromClient',`${new Date()} -  클라이언트`)
            //emit은 key 로 분리됨
        })










